body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
body nav {
  display: flex;
  align-items: stretch;
}

/*
 * Sidebar
 */

/* Оформление боковой панели */
#side-checkbox {
  display: none;
}
.side-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -360px;
  background: #98ceae;
  transition: all 0.5s;
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0,0,0,0.4);
  color: #FFF;
  padding: 40px 20px;
}
.side-title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
  text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 .side-b {
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  background: #337AB7;
  cursor: pointer;
  border: 2px solid #BFE2FF;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
  color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
  position: absolute;
  height: 4px;
  left: 50%;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
  background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
  background: red;
}
.side-button-1 .side-b:before {
  top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
  width: 100%;
  left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
  display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
  display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
  display: block;
}
#side-checkbox:checked + .side-panel {
  left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #BFE2FF;
  transition: all 280ms ease-in-out;
}
.side-button-2:hover {
  transform: rotate(45deg) scale(1.1);
  color: #FFF;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #69947e !important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  display: flex;
  align-items: stretch;
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 80px; /* Space for fixed navbar */



}

.main {
  background-image: url("../app/components/home/backauth.png");
  background-repeat: no-repeat;
  background-size: clamp(1700px, 80%, 2000px) auto;
  height: 800px;


}

/*
 * Navbar
 */

 .navbar { 
  background-color: green;
 }
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.active {
  background-color : rgb(6, 125, 125,0.2)
}

body .container-fluid .row {

}

