<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./regis.component.css">
    <script src="./regis.component.ts"></script>
    <title>Document</title>
</head>
<body>
<div class="block">
    <div class="block-2">
        <form name="myForm" action="#" class="loginForm" onsubmit="return validateForm()" method="post" required>
            <h2 class="text-center">Registration</h2>
            <hr>
            <h2 class="text-left">Input information</h2>
            <div class="input-group">
                <label for="username" class="label">Username</label>
                <input required minlength="3" maxlength="15" type="text" placeholder="nickname" id="username" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-group">
                <label for="password" class="label"> Password </label>
                <input required minlength="8"  type="password" placeholder="pass" id="password" class="input">
                <span class="error-message"></span>
                <br>

            </div>
            <div class="input-type">
                <strong>Are you accept our policy?</strong>
                <input type="checkbox">

            </div>
            <button value="Submit" id="btn" type="submit">Login</button>
        </form>
    </div>
</div>



</body>
</html>