<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./auth.components.css">
<!--    <script defer src="/js/login.js"></script>-->
</head>
<body class="body-login">
<h4 class="login"> Form:  <span bind-text="auth"></span></h4>
<div class="container">

    <br>
    <form action="#" class="loginForm">
        <h2 class="text-center">Login</h2>
        <div class="input-group">
            <label for="username" class="label">Username</label>
            <input type="text" id="username" class="input">
            <span class="error-message"></span>
        </div>
        <br>
        <div class="input-group">
            <label for="password" class="label"> Password </label>
            <input type="password" id="password" class="input">
            <span class="error-message"></span>
            <br>

        </div>
        <div class="input-type">
            <strong>Are you accept our policy?</strong>
            <input type="checkbox">

        </div>
        <button class="button" type="submit">Login</button>
    </form>
</div>
</body>
</html>